/* styles pour l'intro au js */
/* https://codepen.io/yoksel/pen/ijxKy  */

body {
    /* background-color: rgb(3, 40, 77); */
    /* background: repeating-linear-gradient(90deg, #50afee, #83c0f1 20px, #d2e0e9 0, #d2e6e9 40px); */
    font-size: 1em;
    color: rgb(3, 40, 77);
}

.stabilo {
    background-color: yellow;
}

.container {
    /* background-color: #fff; */
    color: white;
    width: 1200px;
    /* height: 600px; */
    /* margin: 0 auto; */
}

code {
    background-color: #fff;
    color: red;
    padding: 5px;
}

.bouton {
    /* color: gainsboro; */
    color: rgb(2, 52, 102);
    background-color: rgb(255, 166, 0);
    padding: 15px 20px;
    text-align: center;
    /* text-decoration: none; */
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 2px 2px;
}

code {
    background-color: #fff;
    color: red;
    padding: 5px;
}

h1 {
    /* border-bottom: 1px solid rgb(110, 110, 110); */
    text-align: center;
    color: rgb(3, 40, 77);
}

h2 {
    border-bottom: 1px solid rgb(110, 110, 110);
    text-align: center;
    color: rgb(3, 40, 77);
}

em {
    background-color: rgb(199, 243, 243);
}

 /* tous les p pair (even pair /// odd impair) */
.exemples p:nth-child(even), td p:nth-child(even) {
    background-color: rgb(109, 198, 233);
}

.ma-classe {
    font-family: Arial, Helvetica, sans-serif;
}

#rouge {
    background-color: red;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#orange {
    background-color: orange;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#bleu {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

