/* styles pour l'intro au js */

body {
    background-color: rgb(203, 226, 247);
}

main {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
}

.stabillo {
    background-color: rgb(207, 207, 46);
}

/* pour 02-intro */

.bouton {
    background-color: teal;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* pour 03-intro : dans le html aussi */

/* pour 04-intro */
