/* styles pour l'intro au js */

body {
    background-color: rgb(203, 226, 247);
}

main {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
}

.stabilo {
    background-color: yellow;
}

.container {
    background-color: #fff;
}



/* pour 02-intro */

.bouton {
    background-color: teal;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* 02 03 types */
code {
    background-color: #fff;
    color: red;
    padding: 5px;
}




/* pour 03-intro : dans le html aussi */

/* pour 04-intro */
